* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  height: 100vh;
  letter-spacing: 2px;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.input-con input {
  padding: 1.1rem;
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
  box-shadow: 3px 3px 3px lightgray;
  border-radius: 10px;
  font-size: 20px;
}

.input-con button {
  padding: 8px 20px;
  margin-left: 0.5rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 255, 0.877);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  color: white;
  border-radius: 5px;
}

.input-con button:hover {
  background-color: lightblue;
  cursor: pointer;
  color: black;
}

.img-con {
  background-image: url(./images/question.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px;
  margin: 10px;
}

.description-con {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.live-con {
  margin-top: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
